.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.wrapper h2 {
  border-bottom: solid 1px;
}

.wrapper article {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
}

.wrapper article h2 {
  font-size: 1.6rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.documentInfoWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.wrapper article h2 span {
  font-size: 1rem;
}

.wrapper article h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

#reviewDocs {
  background-color: rgb(247, 255, 25);
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.wrapper article textarea {
  width: 100%;
  min-height: 100px;
  background: none;
  border-radius: 3px;
  border: solid 1px grey;
}

#back {
  background-color: rgb(217, 217, 217);
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.6s;
}

#buttonWrapper {
  display: flex;
  justify-content: space-between;
}
#approve {
  background-color: green;
}

#request {
  background-color: rgb(62, 76, 223);
}

#reject {
  background-color: rgb(201, 64, 19);
}
