.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.documentHeading {
  font-size: 1.4rem;
  width: 100%;
  background-color: #113037;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.wrapper article {
  display: flex;
  flex-direction: column;
  border: 1px  solid rgb(205, 205, 205);
  padding: 40px;
  border-radius: 12px;
  gap: 20px;
  margin-top: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.wrapper article h2 {
  font-size: 1.6rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.documentInfoWrapper {
  width: 100%;
  margin-bottom: 100px;
}

.wrapper article h2 span {
  font-size: 1rem;
}

.wrapper article h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

#reviewDocs {
  padding: 5px 0;
  border-radius: 4px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.wrapper article textarea {
  width: 100%;
  min-height: 100px;
  background: none;
  border-radius: 3px;
  border: solid 1px grey;
}

#back {
  background-color: rgb(217, 217, 217);
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.6s;
}

#buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  color: white;
}
#approve {
  background-color: #6f9460;
  height: 40px;
  color: white;
}
#approve:hover {
background-color: #5fb34e;
}

#request {
  background-color: #113037;
  height: 40px;
  color: white;
}

#reject {
  background-color: #ba3c3c;
  height: 40px;
  color: white;
}

#reject:hover {
  background-color: #e01c1c;
  }

.button{
  padding: 8px 16px;
  margin-top: 10px;
  margin-right: 20px;
  width: auto;
  height: 40px;
  background: #113037;
  border: 1px solid #113037;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #00938f;
  border: 1px solid #00938f;
  color: white;
}

.commentSection {
  background-color: #f8f8f8;
  padding: 16px 2px;
}

.button a {
  color: white;
  text-decoration: none;
}

.successMessage {
  padding-left: 10px;
  font-size: 1.6rem;
}


.docApproved {
  font-size: 1rem;
  padding: 20px 0 0 10px;
}