.wrapper {
  width: 100%;
  padding: 20px 0;
  background-color: #eeeeee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 50px;
}

.wrapper section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.wrapper section h2 {
  font-weight: 800;
  font-size: 1.4rem;
}

.wrapper section button {
  padding: 8px 16px;
  margin-right: 20px;
  width: auto;
  height: 40px;
  background: #113037;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.wrapper section button:hover {
  background-color: #00938f;
  color: white;
}

.logo {
  height: 50px;
  width: auto;
  padding-left: 20px;
}


.wrapper section button a{
  color: white;
  text-decoration: none;
}